PORT = 8080
MONGODB_URI = YOUR_MONGODB_BASE_URI/database_name
JWT_SECRET = RANDOM_STRING
CLOUD_NAME = CLOUDINARY_CLOUD_NAME
CLOUD_API_KEY = CLOUDINARY_API_KEY
CLOUD_SECRET = CLOUDINARY_SECRET_KEY
STRIPE_SECRET_KEY= YOUR_STRIPE_SECRET_KEY
HDFC_SMARTGATEWAY_BASE_URL=https://smartgateway.hdfcuat.bank.in
HDFC_API_KEY=
HDFC_RESPONSE_KEY=
HDFC_CARD_ENCODING_KEY=
HDFC_MERCHANT_ID=
HDFC_PAYMENT_PAGE_CLIENT_ID=hdfcmaster
HDFC_RETURN_URL=https://corpculture.in/shipping/payment-return